.category_form {
  display: flex;
  background-color: rgb(219, 230, 237);
  width: 40vw;
  height: 45vh;
  font-family: "Caveat", cursive;
  justify-content: s;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  overflow: auto;
}
.category_form form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
.category_form > form > label {
  font-size: 2.5rem;
  font-weight: 600;
}
.category_form > form > input {
  background-color: white;
  text-align: center;
  border: none;

  width: 300px;
  height: 2rem;
  border-radius: 5px;
  font-size: 1rem;
}

@media (max-width:600px) {
  .category_form {
    max-width: 95vw;
    width: auto;
    height: auto;
  }
}