.main_page {
  min-height: 100vh;
  background-image: url("../../../public/img/fondo.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
.main_page > main {
  display: flex;
  width: 99vw;

  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}
.main_page > footer {
  flex-grow: 0.1;
}
