.user_panel {
  min-height: 100vh;
  background-image: url("../../../public/img/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 2.2rem;
}
.user_panel > main {
  display: flex;
  width: 99vw;

  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}
.user_panel > footer {
  flex-grow: 0.1;
}
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.loading img {
  width: 20vw;
}
