.user_panel {
  min-height: 100vh;
  background-image: url("../../../public/img/fondo.png");
  background-size: contain;
  background-repeat: repeat;
  background-clip: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 2.2rem;
}
.user_panel > main {
  display: flex;
  width: 99vw;

  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}
.user_panel > footer {
  flex-grow: 0.1;
}
.loading {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #e1eaf0;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}
.loading img {
  width: 180px;
}
.delete_category {
  background-color: #e1eaf0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1rem;
  border-bottom: 2px solid gray;
}

.delete_category label {
  font-family: "Lobster", cursive;
  font-size: 1.4rem;
}
.filter_form {
  display: flex;
  background-color: #e1eaf0;
  justify-content: center;
  align-items: baseline;
  padding: 1.5rem;

  border-bottom: 2px solid gray;
}
.filter_form label {
  font-family: "Lobster", cursive;
  font-size: 1.4rem;
}

.parrafo_filtradas {
  display: flex;
  background-color: #e1eaf0;
  justify-content: center;
  align-items: baseline;
  padding: 0.5rem;
  gap: 0.5rem;
  font-family: "Lobster", cursive;
}
.parrafo_no_filtradas {
  display: flex;
  background-color: #e1eaf0;
  flex-grow: 1;
  justify-content: center;
  align-items: baseline;
  padding: 0.5rem;
  font-family: "Lobster", cursive;
}
