@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
.noteDetail {
  background-image: url("../../../public/img/papelsinpin.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 80vh;
  font-family: "Caveat", cursive;
  align-items: center;
  gap: 1rem;
   text-align: center;
   overflow-y: auto;
   overflow-x: hidden;
}
.noteDetail h2 {
  font-family: "Caveat", cursive;
  margin-top: 1.8rem;
  font-size: 2.5rem;
}
.noteDetail p {
  font-size: 1.8rem;
}

@media (max-width: 450px){
  .noteDetail{
    width:80vw;
    height: 85vh;
  }
}

.imagenNota {
  width: 55%;
  border: 1px solid rgb(155, 152, 152);
  border-radius: 10px;
}

.pin {
  width: 15%
}