@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
.note_detail {
  background-image: url("../../../public/img/papelsinpin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60vw;
  height: 80vh;
  font-family: "Caveat", cursive;
  align-items: center;
  gap: 1rem;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.note_detail h2 {
  font-family: "Caveat", cursive;
  padding-bottom: 1rem;
  font-size: 4rem;
}
.note_detail p {
  padding: 1rem;
  font-size: 2.5rem;
}

@media (max-width: 450px) {
  .note_detail {
    width: 80vw;
    height: 85vh;
  }
}

.image_nota {
  width: 35%;
  border: 1px solid rgb(155, 152, 152);
  border-radius: 10px;
}

.pin_detail {
  padding-top: 1.5rem;
  width: 10%;
}
.edit_delete {
  margin-bottom: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.trash {
  width: 4rem;
  cursor: pointer;
}
.edit {
  width: 4rem;
  cursor: pointer;
}

@media (max-width:500px){
  .note_detail h2{
    font-size: 2.5rem;
  }
  .note_detail{
    justify-content: space-around;
  }
}