.note_edit_form {
  display: flex;

  justify-content: center;
  background-color: #e1eaf0;
  border-bottom: 2px solid gray;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 60vw;
  height: 50vh;
}
.note_edit_form > form {
  padding: 0rem 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.note_edit_form > form > label {
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
  margin-right: 0.25rem;
}

.note_edit_form > form > input,
select {
  padding: 0rem 0.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  justify-content: center;
  margin-right: 1rem;
  margin-left: 0.25rem;
  outline: none;
  font-size: 1rem;
  height: 1.5rem;
  text-align: left;
  border: none;
  border-radius: 5px;
}
.img_edit_form {
  max-width: 8rem;
}
.image_button {
  justify-content: center;
  align-items: center;
}
.image_edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lobster", cursive;
  gap: 0.3rem;
}
.upload_file_modal {
  display: none;
}
.label_addimage_modal {
  font-family: "Lobster", cursive;
  background-color: #e9eeef;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #cecdcd;
  width: 110px;
  height: 50px;
  border-radius: 1rem;
  font-size: 1rem;
  transition: 0.5s;
}

.add_image_modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label_addimage_modal:hover {
  cursor: pointer;
  background-color: #cccbcb;
  transition: 0.75s;
  text-shadow: 2px 2px 5px white;
}
.label_addimage_modal:active {
  box-shadow: 4px 5px rgba(0, 0, 0, 0.2);
}
.add_image_modal img {
  border-radius: 0.5rem;
}

@media (max-width: 700px) {
  .note_edit_form {
    height: 85vh;
    width: 90vw;
  }
}
