.note_edit_form {
  display: flex;

  justify-content: center;
  background-color: #e1eaf0;
  border-bottom: 2px solid gray;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 60vw;
  height: 50vh;
}
.note_edit_form > form {
  padding: 0rem 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.note_edit_form > form > label {
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
  margin-right: 0.25rem;
}

.note_edit_form > form > input,
select {
  padding: 0rem 0.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  justify-content: center;
  margin-right: 1rem;
  margin-left: 0.25rem;
  outline: none;
  font-size: 1rem;
  height: 1.5rem;
  text-align: left;
  border: none;
  border-radius: 5px;
}
.img_edit_form {
  max-width: 8rem;
}
.image_button {
  justify-content: center;
  align-items: center;
}
.image_edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lobster", cursive;
  gap: 0.3rem;
}

@media (max-width: 700px) {
  .note_edit_form {
    height: 85vh;
    width: 90vw;
  }
}
