.form_register {
  background-color: #e1eaf0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.form_register form {
  padding-top: 3rem;
  flex-grow: 1;
}

.extra_input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.extra_input label {
  padding-bottom: 1rem;
  font-family: "Lobster", cursive;
  font-size: 2rem;
}
.extra_input input {
  background-color: white;
  border: none;
  text-align: center;
  width: 50vw;
  height: 2rem;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 5rem;
  
}
