.header {
  min-width: 600px;
  padding: 1rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}
.header img {
  width: 100px;
  height: 100px;
}
.logo {
  position: relative;
  top: 0.5rem;
  left: 0.8rem;
}
.logo h1 {
  font-size: 1rem;
}
.header h2 {
  font-size: 2.5rem;
  padding-top: 2rem;
}
.header button {
  border: solid 1px #cecdcd;
  width: 110px;
  height: 50px;
  border-radius: 1rem;
  font-size: 1rem;
  transition: 0.5s;
}
.header button:hover {
  background-color: #cccbcb;
  transition: 0.75s;
}
.buttonSection {
  margin-right: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
