@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dancing+Script&family=Fjalla+One&family=Lobster&display=swap");
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2,
button {
  font-family: "Lobster", cursive;
}
h1 {
  font-family: "Dancing Script", cursive;
}
button {
  border: solid 1px #cecdcd;
  width: 110px;
  height: 50px;
  border-radius: 1rem;
  font-size: 1rem;
  transition: 0.5s;
}
button:hover {
  cursor: pointer;
  background-color: #cccbcb;
  transition: 0.75s;
  text-shadow: 2px 2px 5px white;
}
button:active {
  box-shadow: 4px 5px rgba(0, 0, 0, 0.2);
}
