.note_form {
  display: flex;
  justify-content: center;
  background-color: #e1eaf0;
  border-bottom: 2px solid gray;
  padding-bottom: 5rem;
}
.note_form > form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.note_form > form > input,
select {
  margin-right: 1rem;
  margin-left: 0.25rem;

  text-align: center;
}
