.note_form {
  display: flex;
  justify-content: center;
  background-color: #e1eaf0;
  border-bottom: 2px solid gray;
  padding-bottom: 1rem;
  padding-top: 1rem;
  min-width: 100vw;
}
.note_form > form {
  display: flex;
  gap: 0.7rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.note_form > form > label {
  font-family: "Lobster", cursive;
  font-size: 1.25rem;
  margin-right: 0.25rem;
}

.note_form > form > input,
select {
  padding: 0rem 0.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  justify-content: center;
  margin-right: 1rem;
  margin-left: 0.25rem;
  outline: none;
  font-size: 1rem;
  height: 1.5rem;
  text-align: left;
  border: none;
  border-radius: 5px;
}
.add_image {
  display: flex;
  align-items: center;
}
.image_button {
  justify-content: center;
  align-items: center;
}
.upload_file {
  display: none;
}
.label_addform {
  margin-right: 0.5rem;
  border: 1px solid gray;
  padding: 0.2rem;
  background-color: #dbe6ed;
  border-radius: 0.5rem;
}
.add_image img {
  border-radius: 0.5rem;
}

@media (max-width: 881px) {
  .note_form > form {
    flex-direction: column;
  }
  .note_form > form > input,
  select {
    margin-bottom: 0.5rem;
  }
}
